
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: min(4vw, 16px);
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd,
ul, ol, li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/* main contents */
.main {
  padding-block: 3rem;
}

.filteringWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f89900;
  > p {
    color: #fff;
  }
}

.selectFiltering {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.selectFiltering::after {
    position: absolute;
    right: 1rem;
    width: 0.63rem;
    height: 0.44rem;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectFiltering select {
    appearance: none;
    min-width: 230px;
    height: 2.8rem;
    padding: .4rem 2.8rem .4rem 1.2rem;
    border: none;
    border-radius: 1.4rem;
    background-color: #fff;
    color: #333333;
    font-size: 0.9rem;
    cursor: pointer;
    &:focus {
      outline: 1px solid #ccc;
    }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 17rem));
  justify-content: center;
  gap: 1rem;
  padding-inline: 1rem;
  a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
  }
}
.item {
  width: 17rem;
  border: 1px solid #eee;
  transition: all .3s;
}
.itemImg {
  > img {
    aspect-ratio: 4 / 3;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
.detail {
  margin-top: 0.5rem;
}
.detailTitle {
  font-size: 1.1rem;
  line-height: 1.2;
}
.detailItem {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.detailLabel {
  width: 4rem;
  padding: 0.3rem;
  border-radius: 2px;
  background-color: #95803a;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.1;
  text-align: justify;
  text-align-last: justify;
}
.detailValue {
  font-size: 0.9rem;
}